{% extends 'dashboard/base.html' %}

{% block content %}
{% load staticfiles %}
<input placeholder="Insert UUID" id='uuid'><br>
<button class="btn btn-warning" onclick="generateQrCode()">Generate Qr Code</button>
<div id="qr_box">
    <img src="{% static 'qr.jpg' %}" alt="Qr image">
</div>
<script>
function generateQrCode(){
    info = {
        'uuid':$('#uuid').val()
    }
    $.ajax ({
            type: 'POST',
            data: JSON.stringify(info),
            success: function(data){
                swal("Generated", {
                    buttons: {
                        confirm: true,
                    },
                    })
                    .then(() => {
                        location.reload();                        
                    })
            },
            error: function(data){
                swal("An unexpected error occured, Please report to the devs.", {
                    dangerMode: true,
                    buttons: {
                        confirm: true,
                    },
                    })
                    .then(() => {
                        location.reload();                        
                    })
            }            
        });
}
</script>


{% endblock %}