{% extends 'base.html' %}

{% block content %}
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Login</h3>
                <div> 
                    <form method="psot">
                        {% csrf_token %}
                        {{ login_form.as_p }}
                        <button type="submit" class="btn btn-primary">login</button>
                    </form>
                </div>
                <div class="form-group">
                    <a href="#" class="btnForgetPwd">Forget Password?</a>
                </div>
        </div>
    </div>
</div>
    
{% endblock %}