
{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
{{ form.media }}

<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
<div class="container">
    <h1 class="jumbotron">Login Form</h1>
    <form action= "new" method = "POST"> 
        {% csrf_token %}
        {{ user_form.as_p }}

        {{ student_form.as_p }}
        <input type = 'submit' value="Submit">
    </form>
</div>
{% endblock %}