{% extends 'dashboard/base.html' %}

{% block content %}
{% load staticfiles %}
<script src="https://khalti.com/static/khalti-checkout.js"></script>
<link href="{% static 'payment/css/index_student.css' %}" rel="stylesheet">


<div class="mid" id='loading'>
        <div class="loader">
        </div>
</div>
<div class="container" >
        <div id = 'maincont'>
    <div class="card shadow">
        <div class="card-header border-0">
            <h3 class="mb-0">Fee Table</h3>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush table-hover">
                <tr>
                <th scope="col">Name :</th>
                <th scope="col">{{ name }}</th>
                </tr>
                <tr>
                <th scope="col">Current Semester :</th>
                <th scope="col">{{ current_semester }}</th>
                </tr>
                <tr>
                <th scope="col">Remaining Fee :</th>
                <th scope="col">Rs. {{ dues }} /-</th>
                </tr>
                <tr>
                <th scope="col">Credits :</th>
                <th scope="col">Rs. {{ credits }} /-</th>
                </tr>
                <tr>
                <th scope="col">Username :</th>
                <th scope="col">{{ username }}</th>
                </tr>

                <tr>
                <th scope="col">Amount :<br><small>In rupees</small></th>
                <th scope="col"><input type="number" class="form-control" autofocus id="amount"><button type="button" class="btn btn-success" id='payment-button'>PAY VIA KHALTI</button></th>
                </tr>
        </div>
    </div>
</div>
</div>      
<script>   
$(document).ready(function(){
    $("#loading").hide();
    $("#maincont").show();
})
var UUID = '{{ uuid }}'
var USERNAME = '{{ username }}'    
</script>

<script type="text/javascript" src="{% static 'payment/js/index_student.js' %}"></script>
{% endblock %}