{% extends 'dashboard/base.html' %}

{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'login/js/jsqrscanner.nocache.js' %}"></script>
<script type="text/javascript" src="{% static 'payment/js/index_accountant.js' %}"></script>
<link href="{% static 'payment/css/index_accountant.css' %}" rel="stylesheet">


    <div class="container">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" required autofocus>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" required>
        <button type="button" class="btn btn-primary" onclick="search()">Search</button><br>
        <button type="button" class="btn btn-danger" onclick="opencamera()">Scan QR Code</button>
    <hr>
    <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <div class="qrscanner flip" id="scanner">
              </div>    
            </div>
          </div>
          <div class="modal" id="scanned_output">
            <div class="modal-content">
                  <span class="cross">&times;</span>
                  <div id = "output">

                  </div>
              </div>
            </div>
          </div>

    <div id="main-table" class="table-responsive">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Fee Table</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush table-hover">
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Current Semester</th>
                        <th scope="col">Username</th>
                        </tr>
                    <tbody id="results">
                    </tbody>
                </div>
            </div>
    </div>
</div>

           

<script>
var modal = document.getElementById('myModal');
var scanned_output = document.getElementById('scanned_output');
var span = document.getElementsByClassName("close")[0];
var span2 = document.getElementsByClassName("cross")[0];
$(document).ready(function(){
    $("#main-table").hide();
})

span2.onclick = function() { 
    scanned_output.style.display = "none";
}
   
</script>

{% endblock %}

