{% extends 'dashboard/base.html' %}

{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'login/js/jsqrscanner.nocache.js' %}"></script>

    <div class="container">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" required autofocus>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" required>
        <button type="button" class="btn btn-danger" onclick="opencamera()">Scan </button>


        <button type="button" onclick="search()">Search</button>
    <hr>
    <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <div class="qrscanner flip" id="scanner">
              </div>    
            </div>
          </div>
          <div class="modal" id="scanned_output">
            <div class="modal-content">
                  <span class="cross">&times;</span>
                  <div id = "output">

                  </div>
              </div>
            </div>
          </div>

    <div id="main-table" class="table-responsive">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Fee Table</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush table-hover">
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Current Semester</th>
                        <th scope="col">Username</th>
                        </tr>
                    <tbody id="results">
                    </tbody>
                </div>
            </div>
    </div>
</div>

           

<script>

// Get the modal
var modal = document.getElementById('myModal');
var scanned_output = document.getElementById('scanned_output');

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
var span2 = document.getElementsByClassName("cross")[0];

    $(document).ready(function(){
        $("#main-table").hide();
    })
        function search(){
        var xhttp = new XMLHttpRequest();
        var first_name = $('#first_name').val();
        var last_name = $('#last_name').val();
        var info = {
            'first_name': first_name,
            'last_name': last_name,
        };
        $.ajax ({
            type: 'POST',
            url: 'search',
            data: JSON.stringify(info),
            success: function(data){
                outputData(data);
        }
        });

    function outputData(data){
        $("tr").remove(".table-row");
        y = data['username'].length;
        while (y) {
            y = y -1;
            $("#results").append(
                    '<tr class="table-row" data-href="'+data['username'][y]+'"><td>'+data['name'][y]+'</td><td>'+data['semester'][y]+'</td><td>'+data['username'][y]+'</td></tr>'
            )
        }
        $(".table-row").click(function() {
        window.document.location = $(this).data("href");
        });
        $("#main-table").show();
    }
}
 
    
// When the user clicks the button, open the modal 
function opencamera(){
    modal.style.display = "block";
    oncall();
}

// When the user clicks on <span> (x), close the modal
                
//this function will be called when JsQRScanner is ready to use

// function JsQRScannerReady()
// {
    //create a new scanner passing to it a callback function that will be invoked when
    //the scanner succesfully scan a QR code
         
// }

    function oncall(staus){
    var jbScanner = new JsQRScanner(onQRCodeScanned);
    //reduce the size of analyzed image to increase performance on mobile devices
    jbScanner.setSnapImageMaxSize(300);
    var scannerParentElement = document.getElementById("scanner");
    if(scannerParentElement)
    {
    //append the jbScanner to an existing DOM element
        jbScanner.appendTo(scannerParentElement);
    }   
    span.onclick = function() {
        modal.style.display = "none";
        jbScanner.stopScanning();
        jbScanner.removeFrom(scannerParentElement);
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
            jbScanner.stopScanning();
            jbScanner.removeFrom(scannerParentElement);
        }
        if (event.target == scanned_output){
            scanned_output.style.display = "none";
        }
    }
    function onQRCodeScanned(scannedText)
    {
        jbScanner.stopScanning();
        jbScanner.removeFrom(scannerParentElement);
        modal.style.display = "none";
        processQrCode(scannedText) 
  
    }
}
span2.onclick = function() { 
    scanned_output.style.display = "none";
}
                  
function processQrCode(uuid) {
    scanned_output.style.display = "block";
    info = {
        'qr':true,
        'uuid':uuid,
        }
    $.ajax ({
        type: 'POST',
        url: '/payment/search',
        data: JSON.stringify(info),
        success: function(data){
            // console.log(data)
            window.location="/payment/"+data['username'][0]; 
        },
        error: function(data){
            swal("An unexpected error occured, Please report to the devs.", {
                dangerMode: true,
                buttons: {
                    confirm: true,
                },
                })
                .then(() => {
                    location.reload();                        
                })
        }            
    });
}
</script>

<style>
 .qrscanner video {
  max-width: 95%;
  max-height: 75%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    /* position: fixed; */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    /* left: 0;
    top: 0; */
    /* width: 100%; 
    height: 100%; */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 36%;
    justify-content: center;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.flip {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
  }

    .table-row{
    cursor:pointer;
    }
    .main-content {
    margin-top: 2%;
    }
</style>

{% endblock %}

