{% extends 'dashboard/base.html' %}

{% block content %}
    <div class="container">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" required autofocus>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" required autofocus>

        <button type="button" onclick="search()">Search</button>
    <hr>
    <div id="main-table" class="table-responsive">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Fee Table</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush table-hover">
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Current Semester</th>
                        <th scope="col">Username</th>
                        </tr>
                    <tbody id="results">
                    </tbody>
                </div>
            </div>
    </div>
</div>

           

<script>
    $(document).ready(function(){
        $("#main-table").hide();
    })
        function search(){
        var xhttp = new XMLHttpRequest();
        var first_name = $('#first_name').val();
        var last_name = $('#last_name').val();
        var info = {
            'first_name': first_name,
            'last_name': last_name,
        };
        $.ajax ({
            type: 'POST',
            url: 'search',
            data: JSON.stringify(info),
            success: function(data){
                outputData(data);
        }
        });

    function outputData(data){
        $("tr").remove(".table-row");
        y = data['username'].length;
        while (y) {
            y = y -1;
            $("#results").append(
                    '<tr class="table-row" data-href="'+data['username'][y]+'"><td>'+data['name'][y]+'</td><td>'+data['semester'][y]+'</td><td>'+data['username'][y]+'</td></tr>'
            )
        }
        $(".table-row").click(function() {
        window.document.location = $(this).data("href");
        });
        $("#main-table  ").show();
    }
}

</script>
<style>
    .table-row{
    cursor:pointer;
    }
    .main-content {
    margin-top: 2%;
    }
</style>

{% endblock %}

